<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Phuc Nguyen</title>
  </head>

  <body>
    <h1 class="flex text-2xl text-emerald-500">Astro Hello</h1>
  </body>
</html>
