---
import '@fontsource-variable/inter';
import ThemeButton from '../components/ThemeButton.astro';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="Personal website of Phúc Nguyễn" />
    <meta name="generator" content={Astro.generator} />
    <title>Phuc Nguyen</title>
  </head>

  <body class="bg-primary-light text-primary-dark dark:bg-primary-dark dark:text-primary-light">
    <header class="flex h-16 items-center gap-x-6 px-6">
      <div class="flex-1"></div>
      <div class="flex-1">
        <h1 class="text-center text-4xl">Phuc Nguyen</h1>
      </div>
      <div class="flex-1 text-right">
        <ThemeButton />
      </div>
    </header>
    <slot />
  </body>
</html>

<style>
  :root {
    --primary: 204, 100%, 68%;
    --primary-dark: 204, 90%, 8%;
    --primary-light: 204, 100%, 95%;
  }
</style>
