---
import '@fontsource-variable/inter';
import ThemeButton from '../components/ThemeButton.astro';

const links = [
  { label: 'Home', url: '/' },
  { label: 'About', url: '/about' },
  { label: 'Projects', url: '/projects' },
  { label: 'Blog', url: '/blog' },
];

const { pathname } = Astro.url;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="Personal website of Phúc Nguyễn" />
    <meta name="generator" content={Astro.generator} />
    <title>Phúc Nguyễn</title>
  </head>

  <body
    class="relative min-h-screen bg-primary-50 transition-colors dark:bg-primary-950 dark:text-primary-50"
  >
    <header class="sticky top-0 z-10 flex h-16 items-center gap-x-6 px-8">
      <div class="flex-1"></div>
      <div class="flex-1">
        <ul
          class="z-10 flex justify-evenly rounded-2xl capitalize shadow-md shadow-primary-950/20 backdrop-blur dark:bg-primary-800/10 dark:shadow-primary-600/50"
        >
          {
            links.map(({ label, url }) => (
              <li>
                <a
                  href={url}
                  class="block py-2 text-sm font-medium transition-colors hover:text-primary-600"
                  class:list={[{ 'text-primary-600': pathname === url }]}
                >
                  {label}
                </a>
              </li>
            ))
          }
        </ul>
      </div>
      <div class="flex flex-1 justify-end">
        <ThemeButton />
      </div>
    </header>
    <slot />
    <slot />
    <slot />
    <slot />
    <slot />
    <slot />
  </body>
</html>
